:root {
  --green: #29ca8e;
  --darkgrey: #252020;
  --dark-grey-text: #353535;
  --blue: #3f6eb5;
  --bggrey: rgb(225, 225, 225);
}
html {
  /* color: var(--dark-grey-text); */
  font-family: "Sulphur Point", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  padding: 0 calc((100% - 1150px) / 2);
  width: 100%;
}
/* HEADER STYLE */
header {
  height: 70px;
  width: 100%;
  border-top: 5px solid var(--green);
  padding: 0 calc((100% - 1150px) / 2);
  display: flex;
}
.logo {
  width: 15%;
  padding: 10px 0;
}
.logo a {
  text-decoration: none;
  color: var(--dark-grey-text);
}
.logo a:hover {
  color: var(--green);
}
.nav {
  width: 80%;
}
.nav ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav a {
  padding: 25px;
  text-decoration: none;
  color: var(--dark-grey-text);
}
.nav a:hover {
  background-color: var(--green);
  color: white;
}
/* END OF HEADER STYLE */

/* SLIDER STYLE */
.slider {
  height: 67vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.slider img {
  width: 100%;
  animation: sliderStart 2s ease;
}
.slider .slider-comment {
  position: absolute;
  width: 30%;
  top: calc((100% - 15vh) / 2);
  color: white;
}
.slider .slider-comment h1 {
  width: 100%;
  font-size: 36px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.slider .slider-comment p {
  font-size: 16px;
}
.slider .slider-comment .slider-btn {
  padding: 30px 0 0 0;
}
.slider .slider-comment .slider-btn button {
  font-size: 17px;
  font-weight: 700;
  border: 2px solid var(--bggrey);
  border-radius: 50px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  color: var(--bggrey);
}
.slider .slider-comment .slider-btn button:hover {
  border: 3px solid var(--green);
  color: var(--green);
}
@keyframes sliderStart {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* END SLIDER STYLE */

/* TOP OFFERS STYLE */
.top-offers {
  display: flex;
  padding: 100px 0;
}
.top-offers .top-offer-item {
  width: calc(100% / 3);
  border: 1px solid var(--bggrey);
  padding: 30px;
  margin-right: 20px;
}
.top-offers .top-offer-item .offer-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 10px 0;
  width: 50px;
  height: 50px;
  background-color: var(--blue);
  color: white;
  font-size: 24px;
  font-weight: 500;
  border-radius: 50%;
}
.top-offers .top-offer-item .offer-name {
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.top-offers .top-offer-item .offer-description {
  margin-bottom: 55px;
}
/* END TOP OFFERS STYLE */

/* SIGNUP STYLE */
.signup {
  margin: 0 0 50px 0;
  display: flex;
}
.signup .signup-description {
  width: 50%;
  margin-top: 15px;
}
.signup .signup-description-wrap {
  padding: 10px;
}
.signup .signup-description h1 {
  font-size: 30px;
}
.signup .signup-description .signup-description-wrap .signup-description-item {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px 0 0;
}
.signup
  .signup-description
  .signup-description-wrap
  .signup-description-item
  .signup-description-text
  h2 {
  font-size: 21px;
  letter-spacing: 1px;
}
.signup .signup-description .signup-description-icon {
  margin: 15px 20px 0 0;
  background-color: var(--green);
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.signup .signup-description .signup-description-icon i {
  font-size: 20px;
  padding: 15px;
}
.signup .signup-description .signup-description-icon i:hover {
  background-color: white;
  color: var(--green);
}
.signup .signup-form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
.signup .signup-form .signup-form-items {
  padding: 70px;
  height: 400px;
  width: 400px;
  background-color: var(--darkgrey);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
}
.signup .signup-form .signup-form-items .signup-form-heading {
  letter-spacing: 2px;
}
.signup .signup-form .signup-form-items form {
  margin-top: 30px;
  color: grey;
  font-size: 14px;
}
.signup .signup-form .signup-form-items label {
  letter-spacing: 1px;
}
.signup .signup-form .signup-form-items input {
  width: 100%;
  margin-top: 10px;
  background-color: var(--darkgrey);
  color: white;
  border: none;
  border-bottom: 1px solid grey;
}
.signup .signup-form .signup-form-items input:hover {
  border-bottom: 1px solid var(--green);
}
.signup .signup-form .signup-form-items input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}
.signup-btn button {
  border: none;
  font-size: 14px;
  color: var(--dark-grey-text);
  font-weight: 500;
  padding: 15px;
  margin-top: 20px;
  border-radius: 50px;
  width: 140px;
  height: 45px;
  cursor: pointer;
}
.signup-btn button:hover {
  background-color: var(--green);
  color: white;
}
/* SIGNUP END STYLE */

/* TEACHERS STYLE */
.teachers {
  background-color: var(--bggrey);
}
